body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 10px 0; /* Espaçamento vertical entre os botões */
    width: calc(100% - 20px);
    height: 50px;
    background-color:brown;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #666;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.button:hover {
    background-color: #555;
}

.button:active {
    transform: translateY(2px);
}
